.callout {
    padding: 20px;
    margin-bottom: 20px;

    //h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    //}
}

.callout-info {
    background-color: $peterriver;
}

.callout-warning {
    background-color: $sunflower;
}

.callout-danger {
    background-color: $alizarin;
}
