html(ng-app='blogApp')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // @NOTE load angularjs
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")

        // @NOTE load boostrap
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')

        // @NOTE load blog
        script(src='./assets/js/blog.js')
        link(href='./assets/css/main.css' rel='stylesheet')

    body
        div(class='container' ng-controller='FormController')
            form(class='tools' ng-submit='submit()')
                button(class='btn btn-default toggle pull-right' type='button' ng-click='toggle()') Toggle All
                h1(class='page-header') Mac App Manager

                div(class="alert alert-danger" role="alert")
                    Strong Oh Snap!
                    |  Only Browsers seems to be working.

                div(class='docs-container')
                    div(class='docs-section')
                        div(class='row')

                            div(class='col-md-3')
                                h3 Browsers
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.googlechrome')
                                        | Google Chrome
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.opera')
                                        | Opera
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.firefox')
                                        | Firefox

                            div(class='col-md-3')
                                h3 Development
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.brackets')
                                        | Brackets
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.github')
                                        | GitHub
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.koala')
                                        | Koala
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.nodejs')
                                        | Node.JS
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.sublime2')
                                        | Sublime Text 2

                            div(class='col-md-3')
                                h3 Productivity
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.dropbox')
                                        | Dropbox
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.googledrive')
                                        | Google Drive
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.onedrive')
                                        | OneDrive

                            div(class='col-md-3')
                                h3 Miscellaneous
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.steam')
                                        | Steam
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.vlc')
                                        | VLC Player
                                div(class='checkbox')
                                    label
                                        input(type='checkbox' ng-model='apps.unarchiver')
                                        | The Unarchiver

                    div(class='docs-section')
                        pre {{ apps | json }}

                    div(class='docs-section')
                        button(type='submit' class='btn btn-default btn-lg btn-block') Compile

                    div(class='docs-section')
                        div(class='panel panel-default')
                            div(class='panel-body')
                                strong Copy this command into Terminal
                            div(class='panel-footer')
                                pre {{ cmd }}

footer(class='docs-footer')
    p Pre-Alpha v0.0.0
