html(ng-app='mac-apps-manager')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // @NOTE load angularjs
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")

        // @NOTE load boostrap
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')

        // @NOTE load blog
        script(src='./assets/js/app.js')
        link(href='./assets/css/main.css' rel='stylesheet')

    body
        div(class='container')
            form(class='tools' ng-submit='submit()')
                button(class='btn btn-default toggle pull-right' type='button' ng-click='toggle()') Toggle All
                h1(class='page-header') Mac Apps Manager

                div(class="alert alert-danger" role="alert")
                    Strong Oh Snap!
                    |  Only the browsers seem to be working.

                div(class='docs-container' ng-controller='FormController')
                    div(class='docs-section')
                        div(class='row')

                            div(class='col-xs-3 col-md-3')
                                h3 Browsers
                                div(class='checkbox' ng-repeat='browser in apps.browsers')
                                    label
                                        input(type="checkbox" ng-click="toggle(browser.name)")
                                        | {{ browser.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Development
                                div(class='checkbox' ng-repeat='dev in apps.development')
                                    label
                                        input(type="checkbox" ng-click="toggle(dev.name)")
                                        | {{ dev.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Productivity
                                div(class='checkbox' ng-repeat='prod in apps.productivity')
                                    label
                                        input(type="checkbox" ng-click="toggle(prod.name)")
                                        | {{ prod.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Miscellaneous
                                div(class='checkbox' ng-repeat='misc in apps.misc')
                                    label
                                        input(type="checkbox" ng-click="toggle(misc.name)")
                                        | {{ misc.name }}

                    div(class='docs-section')
                        pre {{ selection | json }}

                    div(class='docs-section')
                        button(type='submit' class='btn btn-default btn-lg btn-block' ng-click='submit()') Compile

                    div(class='docs-section')
                        div(class='panel panel-default')
                            div(class='panel-body')
                                strong  Copy this command into Terminal
                            div(class='panel-footer')
                                pre {{ cmd }}

footer(class='docs-footer')
    p Pre-Alpha v0.0.1
