html(ng-app='mac-apps-manager')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        // @NOTE load javascript
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
        script(src='./assets/js/ui-bootstrap-tpls-0.13.1.js')
        script(src='./assets/js/ZeroClipboard.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js')
        script(src='./assets/js/app.js')

        // @NOTE load stylesheets
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
        link(href='./assets/css/main.css' rel='stylesheet')

    body
        div(class='container' ng-controller='FormController')
            form(class='tools' ng-submit='submit()')
                h1(class='page-header') Mac Apps Manager

                alert(ng-repeat='alert in alerts' type='{{ alert.type }}' close='closeAlert($index)')
                    | {{ alert.msg }}

                div(class='docs-container')
                    div(class='docs-section')
                        div(class='row')

                            div(class='col-xs-3 col-md-3')
                                h3 Browsers
                                div(class='checkbox' ng-repeat='browser in apps.browsers')
                                    label
                                        input(type="checkbox" ng-click="toggle(browser.name)")
                                        | {{ browser.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Development
                                div(class='checkbox' ng-repeat='dev in apps.development')
                                    label
                                        input(type="checkbox" ng-click="toggle(dev.name)")
                                        | {{ dev.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Productivity
                                div(class='checkbox' ng-repeat='prod in apps.productivity')
                                    label
                                        input(type="checkbox" ng-click="toggle(prod.name)")
                                        | {{ prod.name }}

                            div(class='col-xs-3 col-md-3')
                                h3 Miscellaneous
                                div(class='checkbox' ng-repeat='misc in apps.misc')
                                    label
                                        input(type="checkbox" ng-click="toggle(misc.name)")
                                        | {{ misc.name }}

                    div(class='docs-section')
                        button(type='submit' class='btn btn btn-primary btn-lg btn-block' ng-click='open()' ng-disabled='selection <= 0') Compile

footer(class='docs-footer')
    p Alpha v0.1.2
